.sidebar {
    width: 240px;
    background-color: #fff; /* Darker shade for sidebar */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: #e5e7eb 1px solid;
}
.sidebar .border {
    height: 100px;
    display: flex;
    border-bottom: #f5f5f5 2px solid;
    width: 240px;
    align-items: center;
}
.sidebar .menu {
    width: 240px;
    padding: 10px;
}
.sidebar h2 {
    margin-right: 100px;

    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.75rem;
    color: #000; /* Different color for title */
    font-weight: bolder;
}
.logo-image {
    width: 100px;
    height: 90px;

}
.sidebar .nav {
    width: 100%;
}

.sidebar .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Align icons and text vertically in the list items */
.sidebar nav ul li {
    display: block;
    align-items: center;
    margin: 15px 0;
    padding: 0;
}

.sidebar nav ul li a {
    display: flex; /* Allow icon and text to be inline */
    align-items: center; /* Center vertically */
    text-decoration: none;
    color: #333;
    font-weight: 600;
    padding: 10px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    margin-left: -20px;
}

.sidebar nav ul li a:hover {
    background-color: #000000;
    color: #e5e7eb;
    scale: 1.1;
}

/* Add some spacing between the icon and text */
.sidebar nav ul li a .anticon {
    margin-right: 10px;
    font-size: larger;
}

.submenu-toggle a {
    display: flex; /* Allow icon and text to be inline */
    align-items: center; /* Center vertically */
    text-decoration: none;
    color: #333;
    font-weight: 600;
    padding: 10px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    margin-left: -20px;
}

.submenu {
    list-style-type: none;
    padding-left: 20px;
}

.submenu li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}

.submenu li a:hover {
    background-color: #333;
    color: #e5e7eb;
    scale: 1.05;
}


