/* Login Form Container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.logo {
    width: 250px;
    height: 200px;
}

h1 {
    font-size: 1.8rem;
    color: #111827;
    margin-bottom: 10px;
    font-weight: bolder;
}

p {
    color: #6b7280;
    margin-bottom: 20px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #000000;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
.ant-input-affix-wrapper {
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #e5e7eb; /* Border color */
    padding-left: 10px; /* Padding inside input */
    background-color: #f5f5f5;
}

.ant-input-affix-wrapper input {
    font-size: 1rem; /* Font size for input text */
}

.ant-input-prefix {
    padding-right: 20px;
    color: #000000; /* Icon color */
}

.forgot-password {
    font-size: 0.85rem;
    color: #888;
    float: right;
    font-weight: bold;
}

.login-button {
    background-color: #ffffff;
    color: #111827;
    border: 1px solid #e5e7eb;
    padding: 12px;
    width: 100%;
    border-radius: 50px;
    font-size: 1rem;
    line-height: 1.5rem; 
    cursor: pointer;
    transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    overflow: hidden; 
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.login-button:hover {
    background-color: #000000;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem; 
    line-height: 1.5rem; 
}

.sale-products-link {
    color: #111827;
    font-size: 0.9rem;
    margin-top: 20px;
    transition: color 0.3s ease-in-out;
}

.sale-products-link:hover {
    color: #000000;
    font-weight: bold;
}